<h1>Listing series</h1>

<script>
	
	$(document).ready(function(){
		$('.seriesDivInfo').each(function(div, r){
			$(div).hide();
		});
		
		$('.seriesDivHeader').click(function(){
			$(this).siblings('.seriesDivInfo').toggle();
		});
	});
	
</script>

    <% @series.each do |series| %>
	
	  <%= seriesRow(series) %>
      <%= link_to 'Show', series %>
      <%= link_to 'Edit', edit_series_path(series) %>
      <%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
	
<br>

<%= link_to 'New Series', new_series_path %>
