<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @series.title %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @series.genre.title %>
</p>

<p>
  <b>Photo:</b>
  <% if @series.has_photo? %>
    <%= image_tag @series.photo_path %>
  <% else %>
    No photo.
  <% end %>
</p>

<%= link_to 'Edit', edit_series_path(@series) %> |
<%= link_to 'Back', series_index_path %>
