<p id="notice"><%= notice %></p>

<div>
  <strong>Title:</strong>
  <%= @series.title %>
</div>

<div>
  <strong>Genre:</strong>
  <%= @series.genre.title %>
</div>

<div>
  <b>Photo:</b>
  <% if @series.has_photo? %>
    <%= image_tag @series.photo_path %>
  <% else %>
    No photo.
  <% end %>
</div>

<%= link_to 'Add season', new_series_season_path(@series) %> |
<%= link_to 'Edit', edit_series_path(@series) %> |
<%= link_to 'Back', series_index_path %>
